<div class="row addInfo">
    Additional information
</div>
<div class="row footerInfo">
    Include any footer information here, who is behind the project, any <u>partners</u>, etc.
</div>

<!-- Include dataviz scripts after DOM elemnts are initialized -->
<script src="js/display-concessions-map.js"></script>