<div class="col-lg-6 col-sm-6">
    <h2>Licenses</h2>
    <div class="input-group">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
        <input type="text" class="form-control" id="filter-licenses">
    </div>
    <ul class="list-group">
        <% for (var license_number in licenses) { %>
            <li class="list-group-item license-number" id="<%= license_number %>"><%= license_number %>
                <ul class="list-group">
                    <% for (var i=0; i<licenses[license_number].length; i++) { %>
                        <li class="list-group-item license-concession-number" id="<%= licenses[license_number][i] %>"><%= licenses[license_number][i] %></li>
                    <% } %>
                </ul>
            </li>
        <% } %>
    </ul>
</div>