<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">IPPR</a>
		</div><!-- /.container -->
	</div><!-- /.navbar -->
	<div class="jumbotron text-center">
		<div class="container">
			<div class="row">
				<div class="col col-lg-12 col-sm-12">
					<h1>IPPR Namibia</h1>
					<p>Mapping Ownership of petroleum licenses</p>
				</div>
			</div>
		</div>
		<br />
		<!-- BUTTONS -->
		<div class="container">
			<div class="row">
				<div class="col col-lg-2 col-sm-2">
					<!-- Spacer -->
				</div>
				<div class="col col-lg-4 col-sm-4">
					<a href="/"><button type="button" class="btn btn-primary btn-block btn-active">License Holders</button></a>
				</div>

				<div class="col col-lg-4 col-sm-4">
					<a href="#"><button type="button" class="btn btn-primary btn-block">Company Jurisdictions</button> </a>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col col-lg-2 col-sm-2">
					<!-- Spacer -->
				</div>
				<div class="col col-lg-4 col-sm-4">
					<a href="#"><button type="button" class="btn btn-primary btn-block">License Transactions</button></a>
				</div>

				<div class="col col-lg-4 col-sm-4">
					<a href="#"> <button type="button" class="btn btn-primary btn-block">Company Ownership</button></a>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col col-lg-12 col-sm-12">
					<h2>Which companies hold rights to explore for petroleum?</h2>
					<p>Using the search functions below, identitfy which companies hold
						petroleum exploration rights based on theconcession map, a list of licenses,
						and associated blocks, or the name of a specific company.</p>
				</div>

			</div>
		</div>
	</div>