	<!-- HEADER any logos can be added here -->
	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">IPPR</a>
		</div><!-- /.container -->
	</div><!-- /.navbar -->  
	<div class="container">
		<div class="jumbotron text-center">
			<h1>IPPR Namibia</h1>
			<p>Mapping Ownership of Petroleum Licenses</p>	
			<div class="row">
				<div class="col col-lg-6 col-sm-6">        	
					<button type="button" class="btn btn-primary btn-block active">License Holders</button>                 
				</div>
				<div class="col col-lg-6 col-sm-6">
					<button type="button" class="btn btn-primary btn-block">Company Jurisdictions</button>        
				</div>
			</div><!-- /.row - first button row -->
			<div class="row">
				<div class="col col-lg-6 col-sm-6">        	
					<button type="button" class="btn btn-primary btn-block">License Transactions</button>                 
				</div>
				<div class="col col-lg-6 col-sm-6">
					<button type="button" class="btn btn-primary btn-block">Company Ownership</button>        
				</div>
			</div><!-- /.row - second button row -->
			<div class="infoText">
				<h2>Which companies have the rights to explore for  petroleum?</h2>
				<p>Using the search functions below, identify which companies hold petroleum exploration rights based on 
				the concession map, a list of licences and associated blocks, or the names of specific companies.</p>
			</div><!-- /.infoText -->
		</div><!-- /.jumbotron -->
	</div>	