body{
	font:18pt Helvetica, 'Open Sans', sans-serif;
	color:#000066;
	background-color:#000033;
}

.container{
	width:80%;
	margin:5px auto 5px auto;
	padding:10px;
	background-color:#ffffff;
}

h1{
	text-align:left;
	font-size:2.0em;
	font-weight:bold;
}

h2{
	text-align:left;
	font-size:1.2em;
	font-weight:bold;
}


.heading{
	text-align:left;
	font-size:1.0em;
	font-weight:bold;
	color:#333399;
	padding-left:20px;
}

.addInfo{
	background-color:orange;
	color:white;
	display:block;
	padding:2%;
	margin:10px 0px;
	text-align:left;
	font-size:1.0em;
	font-weight:bold;
}

.footerInfo{
	display:block;
	padding:2%;
	margin:10px 0px;
	text-align:left;
	font-size:0.8em;
	
}

.infoText{
	background-color:#E0F0FF;
	color:#000033;
	display:block;
	padding:2%;
	margin:10px 0px;
	text-align:left;
	font-size:1.0em;

	
}

.map-area{
	clear:both;
	margin:2%;
	padding:1%;
}

.nav{
	display: block;
	background-color:transparent;
	padding:0px 10px;
}

.nav-pills>li>a,
.nav-pills>li>a:hover{
	font-size:1.0em;
	font-weight:bold;
	color:#ffffff;
	background-color:#000033;
	margin:2px;
}

.nav-pills>li>a:active{
	background-color:#333399;
}

.list-header{
	background-color:#D6EBFF;
	color:#000033;
	padding-left:2px;
	margin-top:1px;
	margin-bottom:1px;
	font-size:0.8em;
}

.list-block{
	background-color:#D6EBFF;
	color:#000033;
	padding-left:15px;
	margin-top:1px;
	margin-bottom:1px;
	font-size:0.8em;
}
