<!DOCTYPE html>
<html lang="en">
  <head>
     <% include ../partials/head %>
  </head>
  
  <body>
    <!-- NAVIGATION MENU -->
	  <% include ../partials/navbar %>

    <!-- PAGE CONTENT -->
    <div class="row">
      <form id="eventForm" method="post" class="form-horizontal">
        <div class="col-lg-6 col-sm-6">
          <% include ../partials/licences %>
          <% include ../partials/companies %>
        </div>
        <div class="col-lg-6 col-sm-6">
          <% include ../partials/concessions %>
        </div>
      </form>
    </div>

    <!-- FOOTER MENU -->
    <% include ../partials/footer %>
  </body>
</html>