<!DOCTYPE html>
<html lang="en">
  <head>
     <% include ../partials/head %>
  </head>
  <body>

      <!-- NAVIGATION MENU -->
	  <% include ../partials/navbar %>

      <!-- PAGE CONTENT -->
      <div class="row">
          <form id="eventForm" method="post" class="form-horizontal">
              <div class="col-lg-6 col-sm-6">
                  <% include ../partials/licences %>
                  <% include ../partials/companies %>
              </div>
              <div class="col-lg-6 col-sm-6">
                  <% include ../partials/concessions %>
                  <div class="map-area">
                      <iframe width="100%" height="520"
                            src="https://namibmap.cartodb.com/viz/37799604-663f-11e5-8072-0e23c2a19d43/embed_map"
                            >
                      </iframe>
                  </div>
              </div>
          </form>
      </div>

      <% include ../partials/footer %>

  </body>
</html>